<html>
<head>
<script>
function login(){
	var json = {};
	json.username = document.getElementById("username").value;
	json.password = document.getElementById("password").value;
	var request = new XMLHttpRequest();
	request.onreadystatechange = function(){
		if(this.readyState == 4 && this.status == 200||this.readyState == 4 && this.status == 500){
			var results = JSON.parse(request.responseText);
			if(results.status === "OK")
				document.getElementById("result").innerHTML = "You are logged in now."
			if(results.status === "error")
				document.getElementById("result").innerHTML = results.error
		}
	}
	request.open("POST", "/login",true);
	request.setRequestHeader("Content-Type","application/json");
	request.send(JSON.stringify(json));
}
</script>
</head>
<body>
Login!<br>
<br>
  Username:<br>
  <input type="text" id="username" required>
  <br>
  Password:<br>
  <input type="password" id="password" required>
  <br>
<button onclick="login()">Login</button>
<h3><a href="/">Back</a></h3>
<div id="result"></div>
</body>
</html>
