<html>
<head>
<script>
function post(){
	var json = {};
	if (document.getElementById("prt").checked){
		json.childType = document.getElementById("prt").value;
	}
	else if (document.getElementById("prp").checked){
		json.childType = document.getElementById("prp").value;
	}
	json.content = document.getElementById("postContent").value;
	var request = new XMLHttpRequest();
	request.onreadystatechange = function(){
		if(this.readyState == 4 && this.status == 200||this.readyState == 4 && this.status == 500){
			var results = JSON.parse(request.responseText);
			if(results.status === "OK")
				document.getElementById("result").innerHTML = "Posted with the id of "+results.id;
			if(results.status === "error")
				document.getElementById("result").innerHTML = results.error;
		}
	}
	request.open("POST", "/additem",true);
	request.setRequestHeader("Content-Type","application/json");
	request.send(JSON.stringify(json));
}

</script>


</head>
<body>

{% if login %}
Make a post, {{login}}!<br>
Type of post:<br>
<input type="radio" name="ptype" id="prt" value="retweet"> Retweet<br>
<input type="radio" name="ptype" id="prp" value="reply"> Reply<br>
<input type="radio" name="ptype" id="nan" value="none" checked> Other<br>  
<textarea id="postContent" rows="4" cols="50" required>
</textarea>
<br>
<button onclick="post()">Post</button>
<br>
<div id="result"></div>

{% else %}
You're not logged in to post stuff!
<h3><a href="/stat/login">Login</a></h3><br>
{% endif %}
<h3><a href="/">Back</a></h3>
</body>
</html>
