<html>
<head>
<script>
function post(){
	var json = {};
	json.content = document.getElementById("postContent").value;
	var request = new XMLHttpRequest();
	request.onreadystatechange = function(){
		if(this.readyState == 4 && this.status == 200||this.readyState == 4 && this.status == 500){
			var results = JSON.parse(request.responseText);
			if(results.status === "OK")
				document.getElementById("result").innerHTML = "Posted with the id of "+results.id;
			if(results.status === "error")
				document.getElementById("result").innerHTML = results.error;
		}
	}
	request.open("POST", "/additem",true);
	request.setRequestHeader("Content-Type","application/json");
	request.send(JSON.stringify(json));
}

</script>


</head>
<body>

{% if login %}
Make a post!<br>
<textarea id="postContent" rows="4" cols="50" required>
</textarea>
<br>
<button onclick="post()">Post</button>
<div id="result"></div>

{% else %}
You're not logged in to post stuff!
<h3><a href="/static/login">Login</a></h3><br>
{% endif %}
<h3><a href="/">Back</a></h3>
</body>
</html>
