<html>
<head>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script type = "text/javascript" src = {{ url_for('static', filename='search.js') }} ></script>
</head>
<body>

<h3><a href="/">Back</a></h3><br>

post id:<br>
<input type="text" id="pid">
<br>
<button onclick="singleSearch()">Post Search</button>
<br><br>
unix time:<br>
<input type="number" id="time">
<br>
number:<br>
<input type="number" min="1" max="100" id="num">
<br>
query:<br>
<input type="text" id="q">
<br>
Posted by:<br>
<input type="text" id="uname">
<br>
{% if login %}
following:
<input type="checkbox" id="following" checked>
{% endif %}
<br>
<button onclick="multiSearch()">GroupSearch</button>
<br><br>
user id:<br>
<input type="text" id="uid">
<br>
<button onclick="userSearch()">User Search</button>
<br>
<h3>Result:</h3>
<br>
<div id="result"></div><br>
<div id="result2"></div>
</body>
</html>
