<html>
<head>
<script>

function singleSearch(){
	document.getElementById("result").innerHTML = ""
	var it  = document.getElementById("pid").value;
	var request = new XMLHttpRequest();
	request.onreadystatechange = function(){
		if(this.readyState == 4 && this.status == 200||this.readyState == 4 && this.status == 500){
			var results = JSON.parse(request.responseText);
			if(results.status === "OK")
				document.getElementById("result").innerHTML = "Account created. Please verify with email and key to log in"
			if(results.status === "error")
				document.getElementById("result").innerHTML = results.error
		}
	}
	request.open("GET", "/item/"+it,true);
	request.send();
}

function multiSearch(){
	document.getElementById("result").innerHTML = ""
	var json = {};
	var t = document.getElementById("time").value;
	var l = document.getElementById("num").value;
	if (t!=""){
		json.timestamp = parseInt(t)
	}
	if (l!=""){
		json.limit = parseInt(l)
	}
	var request = new XMLHttpRequest();
	request.onreadystatechange = function(){
		if(this.readyState == 4 && this.status == 200||this.readyState == 4 && this.status == 500){
			var results = JSON.parse(request.responseText);
			if(results.status === "OK"){
				var res = "";
				for (var i = 0; i < results.items.length; i++){
					res += results.items[i] +"<br>";
				}
				document.getElementById("result").innerHTML = res;
			}
			if(results.status === "error")
				document.getElementById("result").innerHTML = results.error;
		}
	}
	request.open("POST", "/search",true);
	request.setRequestHeader("Content-Type","application/json");
	request.send(JSON.stringify(json));
}

</script>
</head>
<body>

<h3><a href="/">Back</a></h3><br>

id:<br>
<input type="text" id="pid">
<br>
<button onclick="singleSearch()">ID Search</button>
<br>
unix time:<br>
<input type="number" id="time">
<br>
number:<br>
<input type="number" min="1" max="100" id="num">
<br>
<button onclick="multiSearch()">GroupSearch</button>
<br>

<div id="result"></div>
</body>
</html>
