<html>
<head>

<script>
function verifyAccount(){
	var json = {};
	json.email = document.getElementById("email").value;
	json.key = document.getElementById("key").value;
	var request = new XMLHttpRequest();
	request.onreadystatechange = function(){
		if(this.readyState == 4 && this.status == 200||this.readyState == 4 && this.status == 500){
			var results = JSON.parse(request.responseText);
			if(results.status === "OK")
				document.getElementById("result").innerHTML = "Account verified. Please log in now.<br><h3><a href='/static/login'>Login</a></h3>"
			if(results.status === "error")
				document.getElementById("result").innerHTML = results.error
		}
	}
	request.open("POST", "/verify",true);
	request.setRequestHeader("Content-Type","application/json");
	request.send(JSON.stringify(json));
}
</script>
</head>
<body>
Verify!<br>
<br>
  Email:<br>
  <input type="text" id="email" required>
  <br>
  Key:<br>
  <input type="text" id="key" required>
  <br>
<br>
<button onclick="verifyAccount()">Verify</button>
<br>
<h3><a href="/">Back</a></h3>
<div id="result"></div>
</body>
</html>
